
@{
    ViewBag.Title = "Nueva";
}

<h2>Nueva</h2>

<form action="/Ficheros/Nueva" enctype="multipart/form-data" method="post">
    
    <input type="file" name="foto"/>
    
    <input type="submit" value="ok"/>
</form>